# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/hearth-mici/coverage

# production
/hearth-mici/build

# misc
/hearth-mici/.DS_Store
/hearth-mici/.env.local
/hearth-mici/.env.development.local
/hearth-mici/.env.test.local
/hearth-mici/.env.production.local

/hearth-mici/npm-debug.log*
/hearth-mici/yarn-debug.log*
/hearth-mici/yarn-error.log*

/hearth-mici/node_modules

/hearth-mici/config.json
/hearth-mici/functions/config.json

/reports/study/videos


/classic_sim/env
/deck_evolution/env

*/env